<!DOCTYPE html>
<html>
<head>
  <title>About Ning</title>
  <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'css/aboutme.css') }}" rel = "stylesheet">

</head>
<body>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-3"><a class="button primary-blue" href="/home" style="margin-top:20px">&lt; Home</a></div>

        <div class="col-md-9"></div>
      </div>


      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-4"><h1>About Me</h1></div>
          <div class="col-md-8"></div>
        </div>

        <div class="row"><img src="/static/images/me2.JPG" alt="Ning Gao" height="300" width="450"></div>

        <div class="row">
            <p>I earned my Bachelor's degree from Zhejiang University in China and PhD from CU Boulder, both majoring in computer science. My interests lie in scalable systems, transactional systems, databases, and distributed frameworks.</p>
            <p>You can email me <a href="mailto:gaoning777@gmail.com?Subject=Hi%20Ning%20from%20ninggaoboulder.com" target="_top">here</a>.
            </p>
        </div>

        <div class="row" style="margin-top:20px">
            <div class="col-md-4"><a class="button primary-blue" href="https://www.linkedin.com/in/ning-gao-seattle"> LinkedIn</a></div>
            <div class="col-md-4"><a class="button primary-blue" href="https://drive.google.com/file/d/1k1fFzOkrXNXIpBCtVq2GM_T0q72vggCm/view?usp=sharing"> Resume</a></div>
            <div class="col-md-4"><a class="button primary-blue" href="https://github.com/gaoning777"> &lt;Github&gt;</a></div>
        </div>

        <div class="row" style="margin-top:20px">
          <div class="col-md-12"><p>Professional Experiences:</p></div>
        </div>
        <div class="row">
            <ul>
          <li><b>[Software Engineer, 2018-present]</b> Google Cloud AI Platform team. I'm working on cloud AI services in Google to enable machine learning designers to efficiently test their algorithms.
          <li><b>[Software Engineer and Data Science Intern, Seagate, 2017 Summer]</b> Design and implement an automatic machine learning pipeline based on H2O. The goal for the framework is to be general, automatic, robust, and distributed.
          <li><b>[Software Engineer Intern, Amazon, 2015 Summer]</b> Design and implement three concurrent frameworks for integration, performance, and high availability tests to automate test pipelines. The HA framework adopts the Netflix Chaos Monkey package.
          <li><b>[Software Engineer Intern, Oracle, 2014 Summer]</b> Program in Cascading, a Hadoop based framework, and Spark for periodic cookie match reports.
          </ul>
        </div>

        <div class="row" style="margin-top:20px">
          <div class="col-md-12"><p>Education:</p></div>
        </div>
          <li><b>[PhD, CU Boulder, 2012-2018]</b> My thesis topic is a paradigm for scalable, transaction, and efficient spatial indexes.
          <li><b>[Bachelor, Zhejiang University, 2008-2012]</b> Major in Computer Science.
      </div>
    </div>
    <br>
    <br>
</body>
</html>
