{% extends "navbar.html" %}

{% block body %}

<div class="row">
 	<!-- Updated : Jan 17 -->
 	<div class="col-md-6 col-md-offset-3" style="margin-top: 50px">
 		<h1>Hi!</h1>
 		<p>My name is Ning Gao.</p>
 		<p>I am currently working at <a href="http://google.com">Google</a>.</p>
 		<p>I love coding and I have open sourced some of my projects in <a href="http://github.com/gaoning777">github</a>.</p>
 		<p>I have also publish a paper <a href="https://arxiv.org/abs/1711.09543">DTranx</a>.</p>
 		<p>You can find me on <a href="www.linkedin.com/in/ning-gao-seattle">LinkedIn</a>, or email me <a href="mailto:gaoning777@gmail.com?Subject=Hello%20Rish%20-from-website" target="_top">here</a>.
		</p>

		<p>Let's get in touch!</p>	
		<p>Ning Gao</p>

		<p><a href="aboutme">For more about me.</a></p>
 	</div>


</div>
{% endblock %}