{% extends "navbar.html" %}

{% block body %}

<div class="row">
 	<!-- Updated : Jan 17 -->
 	<div class="col-md-6 col-md-offset-3" style="margin-top: 50px">
 		<h1>Hi!</h1>
 		<p>My name is Ning Gao. I got my PhD in Unviersity of Colorado at Boulder and am currently working at <a href="https://cloud.google.com/data-science/">Google Cloud AI Platform</a> located in Kirkland, WA.</p>. 
 		<p>I love coding and I have open sourced some of my personal and research projects on <a href="https://github.com/gaoning777">Github</a> and <a href="https://bitbucket.org/cudds/">Bitbucket</a>. Also, I have published a paper <a href="https://arxiv.org/abs/1711.09543">DTranx</a>, of which the source codes are available <a href="https://bitbucket.org/cudds/dtranx/wiki/Home">here</a> and check out my <a href="https://scholar.colorado.edu/csci_gradetds/173/">here</a>a>.</p>
 		<p>I love outdoor sports and my top hobbies are snowboarding, climbing, hiking, and scuba diving. My favorite ski resort is Copper mountain, CO. My best diving spot is dos ojos near Playa Del Carmen in Mexico. Besides the outdoor sports, I love photographing and most of my photographs are sceneries.</p>
 		<p>You can find me at <a href="https://www.linkedin.com/in/ning-gao-seattle">LinkedIn</a>, or email me <a href="mailto:gaoning777@gmail.com?Subject=Hello%20Ning%20-from-website" target="_top">here</a>.
		</p>
 	</div>


</div>
{% endblock %}
