{% extends "navbar.html" %}
{% block body %}

<br>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		{% for s in range(0, trips|length) %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="travel-box" class="col-md-12">
					<div style="text-align:center;">
						<a id="travel-name" href = "{{trips[s].m_link}}">{{ trips[s].m_name }}</a>
					</div>
					<p id="travel-text"> {{ trips[s].m_text }}</p>
				</div>	
			</div>
		</div>
		{% endfor %}
		</div>
		<div class="col-md-2">
			<div class="box-block">
				<p id="handwriting-span">
					Stay curious.
				</p>
				<hr>
				<p id="handwriting-span">
					Stay brave.
				</p>
				<hr>
				<p id="handwriting-span">
					Stay alive.</a>
				</p>
				<hr>
			</div>

		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


{% endblock %}